@charset "UTF-8";

main{
    width: 800px;
    height: 700px;
}

h1{
    position: absolute;

    top: 85px;
    left: 310px;
}

.lembrar{
    position: absolute;
    top: 400px;
    left: 236px;
}

input#enviar{
    position: absolute;
    top: 417px;
    left: 247px;
}

.esqueci-minha-senha{
    position: absolute;
    top: 50px;
    left: 203px;
    width: 300px;
}

div#entrar p{
    position: absolute;
    top: 580px;
    left: 370px;
}

.imagens{
    margin: 11px;
}

div#image{
    position: absolute;
    top: 610px;
    left: 260px;
}
div p{
    position: absolute;
    top: 200px;
    left: 286px;
}