@charset "UTF-8";

:root{
    --cor1:#ffe0ff;
    --cor2:#ffa8d9;
    --cor3:#ff69b4;
    --cor4:#c33b80;
    --cor5:#89004f;

    --font1: 'Birthstone Bounce'
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor1);
    margin-top: 150px;
    background-image: linear-gradient(to right,#ff69b4,#ffa8d9)
}
h1{
    bottom: 471px;
    left: 126px;
    position: absolute;
    font-family: var(--font1);
    font-size: 70px;
    color: #ff69b4;
    margin-right: 60px;
}

main{
    position: relative;
    width: 400px;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.senha{
    margin-bottom: 10px;
}

input{
    width: 300px;
    padding: 15px;
    margin: 5px;
}
.enviar{
    margin-top: 23px;
    padding: 15px;
    margin-right: 10px;
}
input#iremember{
    background-color: #ff69b4;
    height: 17px;
    width: 17px;
}
.esqueci-minha-senha a{
    position: absolute;
    top: 469px;
    left: 125px;
    text-align: center;
    text-decoration: none;
    color: var(--cor4);
    font-size: 18px;
}

input#enviar{
    position: absolute;
    left: 54px;
    border-radius: 10px;
    margin-top: 22px;
    background-image: linear-gradient(to right,#ff69b4,#ffa8d9);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.lembrar{
    position: absolute;
    top: 365px;
    left: 40px;
}

input#enviar:hover{
    background-image: linear-gradient(to right,#ffa8d9,#ff69b4);
}

.imagens{
    display: inline-block;
    width: 50px;
    margin: 9px;
    border-radius: 50%;
}

.imagens:hover{
    transform: translate(-2%,-6%);
    box-shadow: 1px 1px 2px black;
    transition: transform .3s, box-shadow .3s;
}

div#entrar p{
    position: absolute;
    top: 500px;
    left: 160px;
}
div#image{
    width: 300px;
    position: absolute;
    top: 530px;
    left: 56px;
}

div p{
    font-family: Arial, Helvetica, sans-serif;
}