@charset "UTF-8";

:root{
    --cor1:#ffe0ff;
    --cor2:#ffa8d9;
    --cor3:#ff69b4;
    --cor4:#c33b80;
    --cor5:#89004f;

    --font1: 'Birthstone Bounce'
}

main{
    width: 700px;
    height: 640px;
}
h1{
    position: absolute;
    top: 38px;
    left: 255px;
}

input#enviar{
    position: absolute;
    left: 196px;
}

.lembrar{
    position: absolute;
    top: 370px;
    left: 187px;
}

.esqueci-minha-senha{
    position: absolute;
    top: 0px;
    left: 153px;
    width: 400px;
}


div#entrar p{
    padding: 5px;
    position: absolute;
    left: 312px;
}

.imagens{
    width: 50px;
    margin: 20px;
    margin-left: 50px;

}
div#image{
    display: flex;
    justify-content: left;
    margin-left: 43px;
}